* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/* struttura */


.layout{
  width: 70%;
  margin:auto;
}

.row [class*="col-"]{
  float: left;
  position: relative;
}

.row::after{
  content: "";
	display: table;
	clear: both;
}

/* tipologie di colonne */

.col-100{
  width: 100%;
}

.col-50{
  width: calc(100% / 2);

}

.col50::after{
  content: "";
	display: table;
	clear: both;
}

.col-33{
  width: calc(100% / 3);
}

.col-20{
  width: calc(100% / 4);
}


/* contenuto */

/* prima riga lingua e log in */
/* riga */
.login{
  background-color:#f4f9fd
}
div > .login{
  height: 40px;
}

/* contenitore contenuti */
/* colonna1 */
.box{
  line-height: 40px;
  color: #32495b;
  font-family: sans-serif;
  float:left;
  margin-right: 5px;

}
/* contenuto */
.content > a{
  text-decoration: none;
  color: #32495b;

}
.link :hover{
  color: #fe775a;
}

/* colonna2 */







/* menu a tendina   */



/* contenuto  altezze e bordi */
.col-50[class*="lang-bar"]{
margin: 10px 0px;
}

.col-50[class*="logbar"]{
margin: 10px 0px;
/* border: 1px solid black; */
height: 40px;
}
/* .box{
  height: 50;
  width: 50;
  border: 1px solid black;
} */
